<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.integrator.mapper.InForwardInfoMapper">

    <select id="selectInForwardInfoByCode" parameterType="String" resultMap="InForwardInfoResult">
        <include refid="selectInForwardInfoVo"/>
        where forward_code = #{forwardCode}
    </select>

    <select id="selectInForwardInfoAll"  resultMap="InForwardInfoResult">
        <include refid="selectInForwardInfoVo"/>
        where status = '0'
    </select>

    <select id="selectInForwardInfoListByAggrCode" parameterType="String" resultMap="InForwardInfoResult">
        SELECT a.* from in_forward_info a, in_aggregation_forward b, in_aggregation c
        WHERE a.info_id = b.fwd_id and b.aggr_id = c.aggr_id and c.aggr_code = #{aggrCode}
        ORDER BY b.order_num
    </select>

    <select id="selectInForwardInfoListByAggrId" parameterType="String" resultMap="InForwardInfoResult">
        SELECT a.* from in_forward_info a, in_aggregation_forward b
        WHERE a.info_id = b.fwd_id and b.aggr_id = #{aggrId}
        ORDER BY b.order_num
    </select>

</mapper>